<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"> <img src="/app_icon_transparent.png"> Romã</a>
      </li>
    </ul>
  </div>
</nav>