  .navbar {
    background-color: #EF636A;
    margin-bottom: 0px;
    border: none;
  }
  
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #EF636A;
  }
  
  .navbar-nav>li>a {
    line-height: 30px;
    font-size: 20px;
  }
  
  .navbar img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  
  .jumbotron {
    background: white;
    color: #EF636A;
  }
  
  .jumbotron p {
    color: #ef636aa4;
    max-width: 75%;
    margin: 1em auto 2em;
  }
  
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white;
  }
  
  .jumbotron .lang-logo img {
    max-width: 100%;
  }
  
  .play-store-logo {
    width: 250px;
  }
  
  .feature-container-img {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .feature-container-img img {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .feature-container {
    color: #EF636A;
    margin-bottom: 20px;
  }
  
  .feature-container li {
    color: #CD4A54;
  }
  
  .privacy-container h1 {
    padding: 30px 0;
    color: #CD4A54;
  }
  
  .privacy-container li {
    color: #EF636A;
    font-size: 20px;
    margin: 20px 0;
  }
  
  hr {
    border-color: #ddd;
  }
  
  .footer {
    background-color: #FFFBE9;
    padding: 20px 0;
  }
  
  .footer p {
    color: #CD4A54;
  }
  
  .footer a {
    color: #CD4A54;
  }
  
  @media (max-width: 767px) {
    .feature-container {
      text-align: center;
    }
    .feature-container ul {
      list-style-type: none;
    }
  }
  
  @media(min-width: 850px) {
    .container {
      width: 820px;
    }
    .feature-container {
      text-align: center;
    }
    .feature-container ul {
      list-style-type: none;
    }
  }
  
  @media(min-width: 1300px) {
    .container {
      width: 1270px;
    }
    .feature-container {
      text-align: left;
    }
    .feature-container ul {
      list-style-type: disc;
    }
  }
  
  @media(min-width: 1400px) {
    .container {
      width: 1350px;
    }
  }
  
  @media(min-width: 1500px) {
    .container {
      width: 1440px;
    }
  }
  
  @media(min-width: 1600px) {
    .container {
      width: 1530px;
    }
  }
  
  @media(min-width: 1700px) {
    .container {
      width: 1620px;
    }
  }
  
  @media(min-width: 1800px) {
    .container {
      width: 1710px;
    }
  }
  
  @media(min-width: 1900px) {
    .container {
      width: 1800px;
    }
  }